.title {
  text-align: center;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  h2 {
    position: relative;
    font-size: 54px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
    margin-top: 4px;
  }

  @media (max-width: 991px) {
    margin-top: 32px;
    h2 {
      font-weight: normal;
      position: relative;
      font-size: 32px;
    }
  }
}
