@import "src/theme/theme";

.foooter_section{
  float: left;
  width: 100%;
  background-color: black;
  color: white;
  padding: 52px 0;
  h2{
    font-weight: bold;
  }
  ul {
    padding: 0;
    list-style-type: none;
    li{
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.69);
      &:last-child{
        margin-bottom: 0;
      }
      .material-icons{
        margin-right: 8px;
        background-color: map_get($theme, secondary);
        width: 25px;
        height: 25px;
        font-size: 14px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      button{
        margin-top: 16px;
        font-size: 14px;
        padding: 0 20px;
        background-color: #FFC431;
        color: #333;
      }
    }
  }
}
.end_footer {
  background-color: #01c152;
  padding: 16px;
  float: left;
  width: 100%;
  text-align: center;
  color: white;
}
