<div class="foooter_section">
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h2>TOLL FREE 18002556469</h2>
        <ul>
          <li>
            <span class="material-icons">
             phone
            </span>
            +91973236656/ +919732545675
          </li>
          <li>
             <span class="material-icons">
             mail
            </span>
            info@sgddsgawsgeeg.com
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <h2>USEFUL LINKS</h2>
        <ul>
          <li> FAQs</li>
          <li> Our Blog</li>
          <li> Privacy policy</li>
          <li>Contact Us</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h2>Get Started with Us</h2>
        <ul>
          <li> There are many variations of passages of Lorem Ipsum available.There are many</li>
          <li>
            <button mat-button class="primary_btn">
              Start Now
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="end_footer">
  © 2020 Xupermax All Rights Reserved.
</div>
