<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-users icon-gradient bg-happy-itmeo">
                    </i>
                </div>
                <div>All Contacts
                    <div class="page-title-subheading">This is list of all the contacts.
                    </div>
                </div>
            </div>
            <div class="page-title-actions">
                <button type="button" data-toggle="tooltip" title="Example Tooltip" data-placement="bottom"
                    class="btn-shadow mr-3 btn btn-dark">
                    <i class="fa fa-file-pdf"></i>
                </button>
                <div class="d-inline-block dropdown">
                    <button type="button" class="btn-shadow  btn btn-info">
                        <span class="btn-icon-wrapper pr-2 opacity-7">
                            <i class="fa fa-print fa-w-20"></i>
                        </span>
                        Print
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-lg-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <h5 class="card-title">All Contacts</h5>
                    <div class="position-relative form-group">
                        <div>
                            <div class="custom-checkbox custom-control custom-control-inline"><input type="checkbox"
                                    id="exampleCustomInline" class="custom-control-input"><label
                                    class="custom-control-label" for="exampleCustomInline">Students</label></div>
                            <div class="custom-checkbox custom-control custom-control-inline"><input type="checkbox"
                                    id="exampleCustomInline2" class="custom-control-input"><label
                                    class="custom-control-label" for="exampleCustomInline2">Teachers</label>
                            </div>
                        </div>
                    </div>
                    <div class="position-relative form-group"><input name="address" id="exampleAddress"
                            placeholder="Type to search contacts..." type="text" class="form-control"></div>
                    <table class="mb-0 table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>ID</th>
                                <th>Contact Type</th>
                                <th>Company</th>
                                <th>Title</th>
                                <th>Entered</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [routerLink]="['../contactdetail']">
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr [routerLink]="['../contactdetail']">
                                <th scope="row">2</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                            <tr [routerLink]="['../contactdetail']">
                                <th scope="row">3</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>