<div class="account_wrapper">
  <div class="left">
    <div class="form_wrapper">
      <!--      <h1>Xupermax</h1>-->
      <h1>Login</h1>

      <form action="" [formGroup]="loginform">
        <div class="fields">
          <i class="ion-ios7-email-outline"></i>
          <input type="text" formControlName="email" placeholder="User Name">
        </div>
        <p class="errormessage" *ngIf="loginformerror.email.required || (loginform.controls.email.pristine && loginsubmitted)"> Email can not be empty</p>

        <div class="fields">
          <i class="ion-ios7-locked-outline"></i>
          <input type="password" formControlName="password" placeholder="Password">
        </div>
        <p class="errormessage" *ngIf="loginformerror.password.required || (loginform.controls.password.pristine && loginsubmitted)">Password can not be empty</p>

        <button type="submit" class="login_btn" (click)="login()">Login</button>
        <a class="rgstr_btn" routerLink="/signup" routerLinkActive="active">Create Account</a>
        <p>Forgot Password? Don't worry we will reset password for you <a class="frgt_btn">Click here.</a></p>
      </form>
    </div>


  </div>
  <div class="right">
    <div class="text_area">
      <h1>The Best <span>Martial Arts</span> Software.</h1>
      <p>It is a long established fact that a reader will be distracted by the readable content of a page when
        a page when looking at its layout.</p>
    </div>

    <video autoplay loop
           src="https://ak5.picdn.net/shutterstock/videos/1034901965/preview/stock-footage-close-up-slow-motion-females-are-performing-incredibly-complex-and-steep-movements-of-the-martial.webm"></video>
  </div>
</div>
