mat-sidenav-container {
  background-color: transparent;
  mat-sidenav {
    position: fixed;
  }
  mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c36-0.ng-trigger.ng-trigger-transform.mat-drawer-push.ng-star-inserted.mat-drawer-opened {
    width: 250px;
    max-width: 80%;
  }

  nav {
    .navbar-brand {
      font-weight: bold;
      img{
        height: 30px;
      }
    }

    app-navitem{
      margin-left: 24px;
    }

    @media (max-width: 991px) {
      .container {
        display: flex;
        flex-direction: row-reverse;
        position: relative;

        .navbar-brand {
          width: 100%;
          text-align: center;
          margin: 0;
        }

        button.navbar-toggler {
          border: 0;
          position: absolute;
          left: 0;
          padding: 0;
          text-align: left;
        }
      }
    }

  }

}
