//Nav
@import "~bootstrap/scss/bootstrap";
@import "theme";
@import '~@angular/material/theming';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$custom-typography: mat-typography-config($font-family: '"Roboto", sans-serif;');
@include mat-core($custom-typography);

button {
  &:active, &:focus {
    outline: none;
  }
}

button.mat-focus-indicator.primary_btn.mat-button.mat-button-base.primary_btn {
  @include bg_primary;
  border: 0;
  padding: 4px 24px;
  box-shadow: 0 12px 17px rgba(0, 128, 0, 0.3);
  position: relative;
  font-size: 16px;
  border-radius: 24px;
  font-weight: bold;
}
