$theme: (
  "primary": #01c152,
  "secondary": #ff6a16,
  "yellowbg": #fdfaf4
);

@mixin bg_primary {
  color: white;
  background-color: map_get($theme, primary);
}

@mixin bg_seconday {
  color: white;
  background-color: map_get($theme, secondary);
}
