@import "src/theme/theme";

app-nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.slider {
  background-color: black;
  //padding: 5% 0;
  //background-color: map_get($theme, yellowbg);

  .text_area {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    height: 100%;
    padding: 20% 0;
    color: white;

    h2 {
      font-size: 32px;
      font-weight: 200;
    }

    h1 {
      font-size: 70px;
      font-weight: bold;
      line-height: normal;

      span {
        color: map_get($theme, secondary);
      }
    }

    h3 {
      font-size: 24px;
      font-weight: 100;
    }

    p {
      font-weight: 100;
      font-size: 16px;
      line-height: 24px;
    }

    .btns {
      margin-top: 16px;
      display: flex;

      button {
        margin-right: 16px;
      }

      span.icon_btn {
        width: 50px;
        height: 50px;
        border: 1px solid #ff6a16;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #252525;
        box-shadow: inset 0 0 0 3px black;
      }
    }
  }

  .banner_img {
    img {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    .container {
      .row {
        display: flex;
        flex-direction: column-reverse;

        img {
          margin-bottom: 24px;
        }

        .text_area {
          padding: 5% 0;

          h1 {
            font-size: 38px;
            line-height: normal;
          }
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      .row {
        .text_area {
          h1 {
            font-size: 50px;
            line-height: normal;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

.features {
  padding: 5%;

  .col * {
    margin-bottom: 24px;
  }

  .item_wrapper {
    display: flex;
    background-color: black;
    padding: 16px;
    border-radius: 8px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    height: 100%;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 70px;
      content: '';
      background-image: url("../../assets/imgs/blog_corner.svg");
      background-size: cover;
    }

    i.material-icons {
      color: #fff;
      margin-bottom: 24px;
      font-size: 35px;
      z-index: 1;
    }

    .text_wrapper {
      padding-left: 40px;

      h4 {
        font-weight: 600;
        margin-bottom: 8px;
        font-size: 15px;
      }

      p {
        font-weight: 500;
        opacity: 0.8;
        font-size: 14px;
      }
    }
  }
}

.promotional_video {
  background-color: black;
  padding: 5% 0;

  .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    h1 {
      font-size: 48px;
      font-weight: bold;
      color: white;
      margin-bottom: 16px;

      span {
        color: map_get($theme, secondary);
      }
    ;
    }

    p {
      color: rgba(255, 255, 255, 0.82);
    }

    .btns {
      display: flex;
      align-items: center;
      margin-top: 16px;

      span {
        color: white;
        margin-left: 16px;
      }
    }
  }

  iframe {
    width: 100%;
    height: 450px;
  }
}

.reviews {
  float: left;
  width: 100%;
  margin-bottom: 32px;

  .text_area {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: map_get($theme, primary);
    padding: 16px;
    position: relative;
    &:after{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      background-image: url("../../assets/imgs/review_bg.svg");
      background-size: cover;
    }
    &:before{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      content: "";
      background-size: cover;
      width: 100vw;
      background-color: map_get($theme, primary);
    }

    h1 {
      font-size: 48px;
      font-weight: bold;
      line-height: normal;
      margin-bottom: 4px;
      z-index: 1;
    }
    p{
      color: white;
      z-index: 1;
    }
  }

  owl-carousel-o {
    float: left;
    width: 100%;
    padding: 32px 0;

    .owl-stage {
      width: 100%;
    }
  }

  @media (max-width: 767px) {
    background-size: 100vh;
    .text_area {
      &:before{
        display: none;
      }
    }
    owl-carousel-o {
      padding: 5% 0;
    }
  }

  @media (min-width: 1400px) {
    background-size: 30%;
  }
}

.apps {
  float: left;
  width: 100%;
}
