<app-nav></app-nav>

<!--slider-->
<div class="slider">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <div class="text_area">
          <h2>The Best</h2>
          <h1>Martial<span> Arts</span></h1>
          <h3>School Management Software.</h3>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</p>
          <div class="btns">
            <button mat-button class="primary_btn" [routerLink]="['/login']">
              Get Started
            </button>
            <span class="icon_btn" (click)="openDialog()">
            <i class="material-icons">
              play_arrow
            </i>
          </span>
          </div>

        </div>
      </div>

      <div class="col-md-7 p-0 banner_img">
        <img src="assets/imgs/index/banner.jpg" alt="">
      </div>

    </div>
  </div>
</div>
<!--slider end-->

<!--Features-->
<div class="container">
  <app-heading title="Features" subtitle="Put some little content"></app-heading>
  <div class="features">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="item_wrapper">
          <i class="material-icons">
            email
          </i>
          <div class="text_wrapper">
            <h4>Email Automation</h4>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
              looking at its layout.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item_wrapper">
          <i class="material-icons">
            fiber_smart_record
          </i>
          <div class="text_wrapper">

            <h4> Smart Dashboard</h4>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
              in some form.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item_wrapper">
          <i class="material-icons">
            assignment
          </i>
          <div class="text_wrapper">
            <h4> Attendance Tracker</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem
              aperiam.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item_wrapper">
          <i class="material-icons">
            shopping_basket
          </i>
          <div class="text_wrapper">
            <h4>Marketing That Works</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem
              aperiam.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="item_wrapper">
          <i class="material-icons">
            settings
          </i>
          <div class="text_wrapper">
            <h4> Business Systems</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem
              aperiam.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6">
        <div class="item_wrapper">
          <i class="material-icons">
            bar_chart
          </i>
          <div class="text_wrapper">
            <h4>Sales Funnels</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem
              aperiam.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Features End-->


<!--Reviews-->
<div class="reviews">
  <div class="container">
    <!--    <app-heading title="User Feedbacks"></app-heading>-->
    <div class="row">
      <div class="col-md-4">
        <div class="text_area">
          <h1>Reviews, <br> that's really effect your business</h1>
          <p>There are many variations of passages of Lorem Ipsum available</p>
        </div>
      </div>
      <div class="col-md-8">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <app-review-item userimg="https://randomuser.me/api/portraits/women/32.jpg" username="Josephine Reed"
                             usercomment="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters."></app-review-item>
          </ng-template>
          <ng-template carouselSlide>
            <app-review-item userimg="https://randomuser.me/api/portraits/men/75.jpg" username="Morris Black"
                             usercomment="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable."></app-review-item>
          </ng-template>
          <ng-template carouselSlide>
            <app-review-item userimg="https://randomuser.me/api/portraits/women/32.jpg" username="Josephine Reed"
                             usercomment="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters."></app-review-item>
          </ng-template>
          <ng-template carouselSlide>
            <app-review-item userimg="https://randomuser.me/api/portraits/men/75.jpg" username="Morris Black"
                             usercomment="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable."></app-review-item>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
<!--Reviews End-->

<!--App Availavle-->
<!--
<div class="apps">
  <div class="container">
        <app-heading title="Application Available"></app-heading>
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/imgs/downloadapp.svg" alt="">
      </div>
      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>
-->
